@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Kitsune Library</h1>
    <p>Kitsune Library is a wonder place where you can shop and look out informations about your favourite books <a href="https://localhost:7129/Products">Go shopping</a>.</p>
</div>
